@import "../fonts/fira-mono/fira-mono.css";

@mixin vendor($a, $v) {
  -webkit-#{$a}: $v;
  -moz-#{$a}: $v;
  #{$a}: $v;
}

@mixin clearboth() {
  content: "";
  clear: both;
  display: table;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  @include vendor(box-sizing, border-box);
}

html, body {
  height: 100%;
}

body {
  background-color: #f4f4f4;
  font-family: 'Fira Mono';
  // &.light {
  //   background-color: #fff;
  // }
  // &.dark {
  //   background-color: #1a1a1a;
  // }
}

.wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.actions {
  width: 220px;
  float: left;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  margin-right: 20px;
  .action {
    label {
      display: block;
      font-weight: bold;
    }
    select, button {
      border: 1px solid #aaa;
      padding: .5em 1em;
      border-radius: 3px;
      background: linear-gradient(#fff, #ccc);
      cursor: pointer;
      font-family: 'Fira Mono';
      max-width: 100%;
      &:hover {
        background: linear-gradient(#fff, #ddd);
      }
      &:active {
        background: linear-gradient(#ccc, #fff);
      }
      &[disabled] {
        cursor: not-allowed;
      }
    }
    &+.action {
      margin-top: 1em;
    }
  }
  &:after {
    @include clearboth();
  }
}

.grid {
  .col {
    width: 50%;
    float: left;
    text-align: center;
    a {
      color: #ff6600;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Fira Mono';
    }
  }
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

#editor {
  width: 100%;
  max-width: 740px;
  font-family: 'Fira Mono', monospace;
  padding: 20px;
  font-size: 18px;
  float: none;
  overflow: hidden;
  &.lines-dark {
    background-color: #1a1a1a;
  }
  &.lines-light {
    background-color: #ffffff;
  }
}