.cm-s-lines-light.CodeMirror {
  background: #ffffff;
  color: #000000;
  height: auto;
  line-height: 1.6;
}

.cm-s-lines-light.CodeMirror pre {
  font-family: 'Fira Mono';
}

.cm-s-lines-light div.CodeMirror-selected {background: #ddd !important;}
.cm-s-lines-light.CodeMirror ::selection { background: rgba(73, 72, 62, .99); }
.cm-s-lines-light.CodeMirror ::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-lines-light .CodeMirror-gutters {background: #272822; border-right: 0px;}
.cm-s-lines-light .CodeMirror-guttermarker { color: white; }
.cm-s-lines-light .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-lines-light .CodeMirror-linenumber {color: #d0d0d0;}
.cm-s-lines-light .CodeMirror-cursor {border-left: 1px solid #000000 !important;}

.cm-s-lines-light span {
  opacity: 0.8;
}


.cm-s-lines-light span.cm-header-1 {
  opacity: 0.4 !important;
  line-height: 1.2;
  font-size: 1.333em;
  font-weight: 400;
  /*margin-bottom: 1.667em;*/
}

.cm-s-lines-light span.cm-header-2 {
  opacity: 0.4 !important;
  line-height: 1.4;
  font-size: 1.111em;
  font-weight: 400;
  /*margin-bottom: 2em;*/
}

.cm-s-lines-light span.cm-header-3 {
  opacity: 0.4 !important;
  line-height: 1.6;
  font-size: 1em;
  font-weight: 400;
  /*margin-bottom: 2.222em;*/
}

.cm-s-lines-light span.cm-hr:after {
  content: "";
  width: 60%;
  height: 1px;
  background-color: #000;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -1px;
}

.cm-s-lines-light span.cm-formatting {
  opacity: 0.2 !important;
}

.cm-s-lines-light .CodeMirror-activeline-background {background: #373831 !important;}
.cm-s-lines-light .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
